<tr class="header-space"></tr>
<tr>
  <td>
    <h1>Forgot your password?</h1>
    <p>Password reset functionality does not work on the deployed version</p>
    <%= form_with url: password_reset_path do |form| %>
      <table class="page-table" width="100%">
        <tbody>
          <tr>
            <td>
              <%= form.label :email %>
            </td>
            <td>
              <%= form.text_field :email, placeholder: "Email" %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <%= form.submit "Reset Password", class: "btn btn-primary" %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </td>
</tr>
