<h1>Forgot your password?</h1>
<p>Password reset functionality does not work on the deployed version</p>
<%= form_with url: password_reset_path do |form|%>
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "Email" %>
    <%= form.submit "Reset Password", class: "btn btn-primary" %>
<% end %>
