<h1> <%= link_to "#{user.name}'s", user %> Comments</h1>
<ul>
  <% user.comments.each do |comment| %>
    <li>
    <%= comment.text %> posted on <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %>
    <div>
      <%= link_to "Article", comment.article %>
    </div>
    </li>
  <% end %>
</ul>

